[submodule "libraries/Adafruit-GPS-Library"]
	path = libraries/Adafruit-GPS-Library
	url = https://github.com/adafruit/Adafruit-GPS-Library.git
[submodule "libraries/RTClib"]
	path = libraries/RTClib
	url = https://github.com/adafruit/RTClib.git
[submodule "libraries/Adafruit-BMP085-Library"]
	path = libraries/Adafruit-BMP085-Library
	url = https://github.com/adafruit/Adafruit-BMP085-Library.git
